export(CountVectorizer)
export(LabelEncoder)
export(TfIdfVectorizer)
export(RFTrainer)
export(XGBTrainer)
export(Counter)
export(bm25)
export(kFoldMean)
export(smoothMean)
importFrom(xgboost, xgb.train, xgb.cv, xgb.importance, xgb.plot.importance, xgb.DMatrix)
importFrom(R6, R6Class)
importFrom(assertthat, assert_that)
