export(CountVectorizer)
export(LabelEncoder)
export(TfIdfVectorizer)
export(RFTrainer)
export(XGBTrainer)
export(Counter)
export(bm25)
export(kFoldMean)
export(smoothMean)
export(LMTrainer)
export(KNNTrainer)
export(GridSearchCV)
export(RandomSearchCV)
export(KMeansTrainer)
export(testdata)
export(check_package)
export(NBTrainer)
importFrom(R6, R6Class)
importFrom(assertthat, assert_that)
import(data.table)
import(Metrics)
importFrom(parallel, makeCluster, detectCores, stopCluster)
importFrom(doParallel, registerDoParallel)
useDynLib(superml)
importFrom(Rcpp, evalCpp)
