export(CountVectorizer)
export(LabelEncoder)
export(TfIdfVectorizer)
export(RFTrainer)
export(XGBTrainer)
export(Counter)
export(kFoldMean)
export(smoothMean)
export(LMTrainer)
export(KNNTrainer)
export(GridSearchCV)
export(RandomSearchCV)
export(KMeansTrainer)
export(testdata)
export(check_package)
export(NBTrainer)
importFrom(R6, R6Class)
importFrom(assertthat, assert_that)
import(data.table)
import(Metrics)
export(dot)
export(dotmat)
export(bm_25)
export(normalise1d)
export(normalise2d)
export(sort_index)
useDynLib(superml)
importFrom(Rcpp, evalCpp)
